[Unit]
Description=/home/kate/.config/i3/timed-wallpaper.sh

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
RemainAfterElapse=no
ExecStart=/home/kate/.config/i3/timed-wallpaper.sh
Type=simple
User=kate
