[Desktop Entry]
Name=Dyson Sphere Program
Comment=Play this game on Steam
Exec=steam steam://rungameid/1366540
Icon=steam
Terminal=false
Type=Application
Categories=Game;
